@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8fafc; /* slate-50 equivalent */
}

/* Custom global styles for link reset */
a {
  color: inherit !important;
  text-decoration: none !important;
}